#header{
    display: flex ;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
   }
#title{
    padding-left: 15px;
    font-weight: bold;
    font-size: x-large;
}
.rightPart{
    padding-right: 15px;
    display: flex;
    flex-direction: row;
    gap: 15px;
   }
#navigation ul{
   display: flex;
   flex-direction: row;
   gap : 25px;
  }

.hero{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap : 75px;
}
.heroImage img{
    height: 270px;
    width: 250px;
}
.hero .hero-content button{
    border-radius: 5px;
}
 
